In [1]:
import pandas as pd

In [16]:
banks_df = pd.read_csv('../Data/law_fips.csv')

In [17]:
banks_df.head()

,Unnamed: 0,X,Y,FID,Food_Bank_Name,Address,City,Status,latitude,longitude,County,fips_code
0,0,-8.100265e+06,5.083471e+06,1,Connecticut Food Bank,2 Research Parkway,Wallingford,Unstable,41.480469,-72.765918,New Haven County,9009
1,1,-8.095874e+06,5.140930e+06,2,Foodshare,450 Woodland Avenue,Bloomfield,Stable,41.866016,-72.726471,Hartford County,9003
2,2,-8.083437e+06,5.220823e+06,3,The Food Bank of Western Massachusetts,97 North Hatfield Road,Hatfield,Stabilizing,42.398251,-72.614750,Hampshire County,25015
3,3,-7.910998e+06,5.211109e+06,4,The Greater Boston Food Bank,70 South Bay Ave,Boston,Stabilizing,42.333775,-71.065704,Suffolk County,25025
4,4,-7.983969e+06,5.202478e+06,5,"Worcester County Food Bank, Inc.",474 Boston Turnpike,Shrewsbury,Stable,42.276431,-71.721210,Worcester County,25027

In [19]:
final_df = banks_df[['FID', 'Food_Bank_Name', 'Address', 'Status', 'City', 'fips_code']]

In [20]:
city_df = pd.read_csv('../Cleaned Data/cleaned_us_cities.csv')

In [21]:
final_df.columns = ['food_banks_id', 'food_bank_name', 'address', 'status', 'city_name', 'fips_code']

In [22]:
final_df['fips_code'] = final_df['fips_code'].astype(int)

C:\Users\ashwi\AppData\Local\Temp\ipykernel_26172\4257046467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['fips_code'] = final_df['fips_code'].astype(int)

In [23]:
final_df.head()

,food_banks_id,food_bank_name,address,status,city_name,fips_code
0,1,Connecticut Food Bank,2 Research Parkway,Unstable,Wallingford,9009
1,2,Foodshare,450 Woodland Avenue,Stable,Bloomfield,9003
2,3,The Food Bank of Western Massachusetts,97 North Hatfield Road,Stabilizing,Hatfield,25015
3,4,The Greater Boston Food Bank,70 South Bay Ave,Stabilizing,Boston,25025
4,5,"Worcester County Food Bank, Inc.",474 Boston Turnpike,Stable,Shrewsbury,25027

In [24]:
city_df.head()

   Unnamed: 0     city_id    city_name  fips_code
0           0  1840034016     New York      36081
1           1  1840020491  Los Angeles       6037
2           2  1840000494      Chicago      17031
3           3  1840015149        Miami      12086
4           4  1840020925      Houston      48201

In [25]:
merged_df_final = final_df.merge(city_df, how='inner', on=['fips_code', 'city_name'])

In [26]:
merged_df_final.shape

(182, 8)

In [27]:
merged_df_final.head()

,food_banks_id,food_bank_name,address,status,city_name,fips_code,Unnamed: 0,city_id
0,4,The Greater Boston Food Bank,70 South Bay Ave,Stabilizing,Boston,25025,9,1840000455
1,6,Good Shepherd Food Bank,3121 Hotel Road,Stable,Auburn,23001,1906,1840000319
2,7,New Hampshire Food Bank,700 East Industrial Park Drive,Stable,Manchester,33011,263,1840002983
3,8,Rhode Island Community Food Bank,200 Niantic Ave.,Stable,Providence,44007,42,1840003289
4,9,Vermont Foodbank,33 Parker Road,Stable,Barre,50023,4606,1840002186

In [28]:
merged_df_final = merged_df_final[['city_id', 'food_banks_id', 'food_bank_name', 'address', 'status']]

In [29]:
merged_df_final.to_csv('../Cleaned Data/cleaned_food_banks.csv')