In [54]:
import pandas as pd

In [55]:
hospital_df = pd.read_csv('../Data/Hospitals.csv', header=1)

In [56]:
hospital_df.head()

,1,"﻿X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,TELEPHONE,TYPE,STATUS,POPULATION,COUNTY,COUNTYFIPS,COUNTRY,LATITUDE,LONGITUDE,NAICS_CODE,NAICS_DESC,SOURCE,SOURCEDATE,VAL_METHOD,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD",0
0,2,"-86.49454911,31.29579533,1,0001336420,ANDALUSI...",260
1,3,"-86.9784072099999,34.8041639300001,2,000153561...",801
2,4,"-87.47879851,31.0170238700001,3,0000136502,ATM...",1336
3,5,"-86.17493002,32.3763995,4,0000236124,BAPTIST M...",1881
4,6,"-86.27754935,32.3281539500001,5,0001736111,BAP...",2427

In [57]:
hospital_df.columns

Index(['1',
       '﻿X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,TELEPHONE,TYPE,STATUS,POPULATION,COUNTY,COUNTYFIPS,COUNTRY,LATITUDE,LONGITUDE,NAICS_CODE,NAICS_DESC,SOURCE,SOURCEDATE,VAL_METHOD,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD',
       '0'],
      dtype='object')

In [58]:
hospital_df = hospital_df.drop(['1', '0'], axis = 1)

In [62]:
columns = hospital_df.columns[0].split(',')

In [66]:
columns

34

In [67]:
hospital_df.iloc[0,0]

'-86.49454911,31.29579533,1,0001336420,ANDALUSIA HEALTH,"849 SOUTH THREE NOTCH STREET, PO BOX 760",ANDALUSIA,AL,36420,NOT AVAILABLE,(334) 222-8466,GENERAL ACUTE CARE,OPEN,88,COVINGTON,01039,USA,31.29579533,-86.49454911,622110,GENERAL MEDICAL AND SURGICAL HOSPITALS,https://dph1.adph.state.al.us/FacilitiesDirectoryReports/Reports/ReportDirectoryExcelExport-2021-10-19-1245007191115.xls,2021/10/19 00:00:00+00,IMAGERY/OTHER,2014/02/10 00:00:00+00,http://www.andalusiaregionalhospital.com,H2001,NOT AVAILABLE,01,PROPRIETARY,-999,88,LEVEL III,Y'

In [69]:
import csv

def parse_row(row):
        return next(csv.reader([row]))

In [99]:
col = hospital_df.columns[0]
final_cols = hospital_df[col].apply(parse_row)
final_df = pd.DataFrame(final_cols.tolist())

In [100]:
final_df.columns = columns

In [101]:
final_df.head()

,﻿X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-86.49454911,31.29579533,1,0001336420,ANDALUSIA HEALTH,"849 SOUTH THREE NOTCH STREET, PO BOX 760",ANDALUSIA,AL,36420,NOT AVAILABLE,...,2014/02/10 00:00:00+00,http://www.andalusiaregionalhospital.com,H2001,NOT AVAILABLE,01,PROPRIETARY,-999,88,LEVEL III,Y
1,-86.9784072099999,34.8041639300001,2,0001535611,ATHENS LIMESTONE HOSPITAL,700 WEST MARKET STREET,ATHENS,AL,35611,NOT AVAILABLE,...,2013/10/02 00:00:00+00,http://www.athenslimestonehospital.com,H4201,NOT AVAILABLE,01,PROPRIETARY,-999,71,LEVEL III,N
2,-87.47879851,31.0170238700001,3,0000136502,ATMORE COMMUNITY HOSPITAL,401 MEDICAL PARK DR,ATMORE,AL,36502,NOT AVAILABLE,...,2014/02/10 00:00:00+00,http://www.ebaptisthealthcare.org/atmorecommun...,H2704,NOT AVAILABLE,01,NON-PROFIT,-999,51,LEVEL III,Y
3,-86.17493002,32.3763995,4,0000236124,BAPTIST MEDICAL CENTER EAST,"400 TAYLOR ROAD, PO BOX 241267",MONTGOMERY,AL,36117,1267,...,2013/09/03 00:00:00+00,http://www.baptistfirst.org,H5107,NOT AVAILABLE,01,GOVERNMENT - DISTRICT/AUTHORITY,-999,150,NOT AVAILABLE,Y
4,-86.27754935,32.3281539500001,5,0001736111,BAPTIST MEDICAL CENTER SOUTH,"2105 EAST SOUTH BOULEVARD, PO BOX 11010",MONTGOMERY,AL,36111,0010,...,2014/03/12 00:00:00+00,http://www.baptistfirst.org,H5102,NOT AVAILABLE,01,GOVERNMENT - DISTRICT/AUTHORITY,-999,432,LEVEL II,Y

In [102]:
columns

['\ufeffX',
 'Y',
 'OBJECTID',
 'ID',
 'NAME',
 'ADDRESS',
 'CITY',
 'STATE',
 'ZIP',
 'ZIP4',
 'TELEPHONE',
 'TYPE',
 'STATUS',
 'POPULATION',
 'COUNTY',
 'COUNTYFIPS',
 'COUNTRY',
 'LATITUDE',
 'LONGITUDE',
 'NAICS_CODE',
 'NAICS_DESC',
 'SOURCE',
 'SOURCEDATE',
 'VAL_METHOD',
 'VAL_DATE',
 'WEBSITE',
 'STATE_ID',
 'ALT_NAME',
 'ST_FIPS',
 'OWNER',
 'TTL_STAFF',
 'BEDS',
 'TRAUMA',
 'HELIPAD']

In [103]:
final_df = final_df[['ID', 'CITY', 'COUNTYFIPS', 'NAME', 'ADDRESS', 'STATUS', 'OWNER']]

In [104]:
final_df.columns

Index(['ID', 'CITY', 'COUNTYFIPS', 'NAME', 'ADDRESS', 'STATUS', 'OWNER'], dtype='object')

In [105]:
final_df.columns = ['hospital_id', 'city_name', 'fips_code', 'name', 'address', 'status', 'owner']

In [106]:
final_df['fips_code'] = final_df['fips_code'].astype(int)

In [107]:
final_df.head()

,hospital_id,city_name,fips_code,name,address,status,owner
0,0001336420,ANDALUSIA,1039,ANDALUSIA HEALTH,"849 SOUTH THREE NOTCH STREET, PO BOX 760",OPEN,PROPRIETARY
1,0001535611,ATHENS,1083,ATHENS LIMESTONE HOSPITAL,700 WEST MARKET STREET,OPEN,PROPRIETARY
2,0000136502,ATMORE,1053,ATMORE COMMUNITY HOSPITAL,401 MEDICAL PARK DR,OPEN,NON-PROFIT
3,0000236124,MONTGOMERY,1101,BAPTIST MEDICAL CENTER EAST,"400 TAYLOR ROAD, PO BOX 241267",OPEN,GOVERNMENT - DISTRICT/AUTHORITY
4,0001736111,MONTGOMERY,1101,BAPTIST MEDICAL CENTER SOUTH,"2105 EAST SOUTH BOULEVARD, PO BOX 11010",OPEN,GOVERNMENT - DISTRICT/AUTHORITY

In [108]:
citydf = pd.read_csv('../Cleaned Data/cleaned_us_cities.csv')
citydf.head()

   Unnamed: 0     city_id    city_name  fips_code
0           0  1840034016     New York      36081
1           1  1840020491  Los Angeles       6037
2           2  1840000494      Chicago      17031
3           3  1840015149        Miami      12086
4           4  1840020925      Houston      48201

In [109]:
final_df['city_name'] = final_df['city_name'].str.lower()
citydf['city_name'] = citydf['city_name'].str.lower()

In [110]:
merged_df_final = final_df.merge(citydf, how='inner', on=['fips_code', 'city_name'])

In [111]:
merged_df_final.shape

(7251, 9)

In [113]:
merged_df_final.head()

,hospital_id,city_name,fips_code,name,address,status,owner,Unnamed: 0,city_id
0,0001336420,andalusia,1039,ANDALUSIA HEALTH,"849 SOUTH THREE NOTCH STREET, PO BOX 760",OPEN,PROPRIETARY,4475,1840004591
1,0001535611,athens,1083,ATHENS LIMESTONE HOSPITAL,700 WEST MARKET STREET,OPEN,PROPRIETARY,1721,1840000935
2,0000136502,atmore,1053,ATMORE COMMUNITY HOSPITAL,401 MEDICAL PARK DR,OPEN,NON-PROFIT,4615,1840013888
3,0000236124,montgomery,1101,BAPTIST MEDICAL CENTER EAST,"400 TAYLOR ROAD, PO BOX 241267",OPEN,GOVERNMENT - DISTRICT/AUTHORITY,178,1840008353
4,0001736111,montgomery,1101,BAPTIST MEDICAL CENTER SOUTH,"2105 EAST SOUTH BOULEVARD, PO BOX 11010",OPEN,GOVERNMENT - DISTRICT/AUTHORITY,178,1840008353

In [114]:
merged_df_final.columns

Index(['hospital_id', 'city_name', 'fips_code', 'name', 'address', 'status',
       'owner', 'Unnamed: 0', 'city_id'],
      dtype='object')

In [115]:
merged_df_final = merged_df_final.rename(columns={'owner': 'ownership_information'})
merged_df_final = merged_df_final.drop(['fips_code', 'city_name', 'Unnamed: 0'], axis=1)

In [116]:
merged_df_final.head()

,hospital_id,name,address,status,ownership_information,city_id
0,0001336420,ANDALUSIA HEALTH,"849 SOUTH THREE NOTCH STREET, PO BOX 760",OPEN,PROPRIETARY,1840004591
1,0001535611,ATHENS LIMESTONE HOSPITAL,700 WEST MARKET STREET,OPEN,PROPRIETARY,1840000935
2,0000136502,ATMORE COMMUNITY HOSPITAL,401 MEDICAL PARK DR,OPEN,NON-PROFIT,1840013888
3,0000236124,BAPTIST MEDICAL CENTER EAST,"400 TAYLOR ROAD, PO BOX 241267",OPEN,GOVERNMENT - DISTRICT/AUTHORITY,1840008353
4,0001736111,BAPTIST MEDICAL CENTER SOUTH,"2105 EAST SOUTH BOULEVARD, PO BOX 11010",OPEN,GOVERNMENT - DISTRICT/AUTHORITY,1840008353

In [117]:
merged_df_final.to_csv('../Cleaned Data/cleaned_hospitals.csv')