In [1]:
import pandas as pd

In [6]:
pop_df = pd.read_excel('../Data/PopulationEstimates.xlsx', header=4)

In [7]:
pop_df.head()

,FIPStxt,State,Area_Name,Rural_Urban_Continuum_Code_2013,Rural_Urban_Continuum_Code_2023,Urban_Influence_2013,Economic_typology_2015,CENSUS_2020_POP,ESTIMATES_BASE_2020,POP_ESTIMATE_2020,...,R_NATURAL_CHG_2023,R_INTERNATIONAL_MIG_2021,R_INTERNATIONAL_MIG_2022,R_INTERNATIONAL_MIG_2023,R_DOMESTIC_MIG_2021,R_DOMESTIC_MIG_2022,R_DOMESTIC_MIG_2023,R_NET_MIG_2021,R_NET_MIG_2022,R_NET_MIG_2023
0,0,US,United States,NaN,NaN,NaN,NaN,331449281.0,331464948.0,331526933.0,...,1.5,1.1,3.0,3.4,0.0,0.0,0.0,1.1,3.0,3.4
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,5024279.0,5024294.0,5031864.0,...,-0.3,0.4,0.9,1.1,5.5,5.6,6.0,5.9,6.5,7.1
2,1001,AL,Autauga County,2.0,2.0,2.0,0.0,58805.0,58809.0,58915.0,...,1.5,0.3,0.4,0.6,4.1,8.5,8.2,4.4,8.9,8.7
3,1003,AL,Baldwin County,3.0,3.0,2.0,5.0,231767.0,231768.0,233227.0,...,-0.4,0.4,1.0,1.2,29.5,29.0,27.2,29.9,30.0,28.4
4,1005,AL,Barbour County,6.0,6.0,6.0,3.0,25223.0,25229.0,24969.0,...,-3.4,0.0,0.1,0.5,-12.6,9.6,-1.8,-12.6,9.7,-1.3

In [8]:
pop_df.columns

Index(['FIPStxt', 'State', 'Area_Name', 'Rural_Urban_Continuum_Code_2013',
       'Rural_Urban_Continuum_Code_2023', 'Urban_Influence_2013',
       'Economic_typology_2015', 'CENSUS_2020_POP', 'ESTIMATES_BASE_2020',
       'POP_ESTIMATE_2020', 'POP_ESTIMATE_2021', 'POP_ESTIMATE_2022',
       'POP_ESTIMATE_2023', 'N_POP_CHG_2020', 'N_POP_CHG_2021',
       'N_POP_CHG_2022', 'N_POP_CHG_2023', 'BIRTHS_2020', 'BIRTHS_2021',
       'BIRTHS_2022', 'BIRTHS_2023', 'DEATHS_2020', 'DEATHS_2021',
       'DEATHS_2022', 'DEATHS_2023', 'NATURAL_CHG_2020', 'NATURAL_CHG_2021',
       'NATURAL_CHG_2022', 'NATURAL_CHG_2023', 'INTERNATIONAL_MIG_2020',
       'INTERNATIONAL_MIG_2021', 'INTERNATIONAL_MIG_2022',
       'INTERNATIONAL_MIG_2023', 'DOMESTIC_MIG_2020', 'DOMESTIC_MIG_2021',
       'DOMESTIC_MIG_2022', 'DOMESTIC_MIG_2023', 'NET_MIG_2020',
       'NET_MIG_2021', 'NET_MIG_2022', 'NET_MIG_2023', 'RESIDUAL_2020',
       'RESIDUAL_2021', 'RESIDUAL_2022', 'RESIDUAL_2023',
       'GQ_ESTIMATES_BASE_2020', 'GQ_ESTIMATES_2020', 'GQ_ESTIMATES_2021',
       'GQ_ESTIMATES_2022', 'GQ_ESTIMATES_2023', 'R_BIRTH_2021',
       'R_BIRTH_2022', 'R_BIRTH_2023', 'R_DEATH_2021', 'R_DEATH_2022',
       'R_DEATH_2023', 'R_NATURAL_CHG_2021', 'R_NATURAL_CHG_2022',
       'R_NATURAL_CHG_2023', 'R_INTERNATIONAL_MIG_2021',
       'R_INTERNATIONAL_MIG_2022', 'R_INTERNATIONAL_MIG_2023',
       'R_DOMESTIC_MIG_2021', 'R_DOMESTIC_MIG_2022', 'R_DOMESTIC_MIG_2023',
       'R_NET_MIG_2021', 'R_NET_MIG_2022', 'R_NET_MIG_2023'],
      dtype='object')

In [9]:
final_df = pop_df[['FIPStxt', 'POP_ESTIMATE_2020', 'POP_ESTIMATE_2021', 'POP_ESTIMATE_2022', 'POP_ESTIMATE_2023']]

In [11]:
final_df.columns = ['fips_code', 'population_estimate_2020', 'population_estimate_2021', 'population_estimate_2022', 'population_estimate_2022']

In [13]:
countydf = pd.read_csv('../Cleaned Data/cleaned_us_counties.csv')

In [12]:
final_df.head()

,fips_code,population_estimate_2020,population_estimate_2021,population_estimate_2022,population_estimate_2022
0,0,331526933.0,332048977.0,333271411.0,334914895.0
1,1000,5031864.0,5050380.0,5073903.0,5108468.0
2,1001,58915.0,59203.0,59726.0,60342.0
3,1003,233227.0,239439.0,246531.0,253507.0
4,1005,24969.0,24533.0,24700.0,24585.0

In [14]:
fips_codes_is_present = final_df[final_df['fips_code'].isin(countydf['fips_code'])]

In [16]:
fips_codes_is_present.shape

(3213, 5)

In [17]:
fips_codes_is_present.head()

,fips_code,population_estimate_2020,population_estimate_2021,population_estimate_2022,population_estimate_2022
2,1001,58915.0,59203.0,59726.0,60342.0
3,1003,233227.0,239439.0,246531.0,253507.0
4,1005,24969.0,24533.0,24700.0,24585.0
5,1007,22188.0,22359.0,21986.0,21868.0
6,1009,59107.0,59079.0,59516.0,59816.0

In [18]:
fips_codes_is_present.to_csv('../Cleaned Data/cleaned_population.csv', index=False)