In [2]:
import pandas as pd

In [5]:
poverty_df = pd.read_excel('../Data/PovertyEstimates.xlsx', header=4)

In [17]:
poverty_df.head()

,FIPS_Code,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_ 2013,POVALL_2021,CI90LBALL_2021,CI90UBALL_2021,...,CI90UB517P_2021,MEDHHINC_2021,CI90LBINC_2021,CI90UBINC_2021,POV04_2021,CI90LB04_2021,CI90UB04_2021,PCTPOV04_2021,CI90LB04P_2021,CI90UB04P_2021
0,0,US,United States,NaN,NaN,NaN,NaN,41393176.0,41149497.0,41636855.0,...,16.3,69717.0,69583.0,69851.0,3349149.0,3299669.0,3398629.0,18.3,18.0,18.6
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,800848.0,782169.0,819527.0,...,22.5,53990.0,53218.0,54762.0,71220.0,66888.0,75552.0,25.1,23.6,26.6
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6296.0,4772.0,7820.0,...,20.4,66444.0,60061.0,72827.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,25526.0,21599.0,29453.0,...,18.5,65658.0,60723.0,70593.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,5089.0,3773.0,6405.0,...,44.6,38649.0,34308.0,42990.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
poverty_df.isnull().sum()

FIPS_Code                             0
Stabr                                 0
Area_name                             0
Rural-urban_Continuum_Code_2003      59
Urban_Influence_Code_2003            59
Rural-urban_Continuum_Code_2013      54
Urban_Influence_Code_ 2013           54
POVALL_2021                           1
CI90LBALL_2021                        1
CI90UBALL_2021                        1
PCTPOVALL_2021                        1
CI90LBALLP_2021                       1
CI90UBALLP_2021                       1
POV017_2021                           1
CI90LB017_2021                        1
CI90UB017_2021                        1
PCTPOV017_2021                        1
CI90LB017P_2021                       1
CI90UB017P_2021                       1
POV517_2021                           1
CI90LB517_2021                        1
CI90UB517_2021                        1
PCTPOV517_2021                        1
CI90LB517P_2021                       1
CI90UB517P_2021                       1
MEDHHINC_2021                         1
CI90LBINC_2021                        1
CI90UBINC_2021                        1
POV04_2021                         3143
CI90LB04_2021                      3143
CI90UB04_2021                      3143
PCTPOV04_2021                      3143
CI90LB04P_2021                     3143
CI90UB04P_2021                     3143
dtype: int64

In [8]:
l = []

for i in poverty_df.columns:
    if 'PCT' in i:
        l.append(i)

l

['PCTPOVALL_2021', 'PCTPOV017_2021', 'PCTPOV517_2021', 'PCTPOV04_2021']

In [29]:
final_df = poverty_df[['FIPS_Code', 'PCTPOVALL_2021', 'PCTPOV017_2021', 'PCTPOV517_2021']]

In [30]:
final_df.columns = ['fips_code', 'poverty_percentage', 'poverty_percentage_under_18', 'poverty_percentage_5_17']

In [31]:
final_df.head()

,fips_code,poverty_percentage,poverty_percentage_under_18,poverty_percentage_5_17
0,0,12.8,16.9,16.1
1,1000,16.3,22.7,21.6
2,1001,10.7,16.1,15.6
3,1003,10.8,16.4,15.2
4,1005,23.0,35.1,33.8

In [32]:
countydf = pd.read_csv('../Cleaned Data/cleaned_us_counties.csv')

In [33]:
fips_codes_is_present = final_df[final_df['fips_code'].isin(countydf['fips_code'])]

In [34]:
fips_codes_is_present.shape

(3127, 4)

In [35]:
fips_codes_is_present.head()

,fips_code,poverty_percentage,poverty_percentage_under_18,poverty_percentage_5_17
2,1001,10.7,16.1,15.6
3,1003,10.8,16.4,15.2
4,1005,23.0,35.1,33.8
5,1007,20.6,29.0,29.0
6,1009,12.0,16.7,15.9

In [37]:
fips_codes_is_present.to_csv('../Cleaned Data/cleaned_poverty.csv', index=False)