In [2]:
import pandas as pd
import numpy as np

In [3]:
cities_df = pd.read_csv('../Data/uscities.csv')

In [4]:
cities_df.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18908608,11080.3,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,11922389,3184.7,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8497759,4614.5,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6080145,4758.9,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,5970127,1384.0,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925

In [5]:
cities_df.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'lat', 'lng', 'population', 'density', 'source',
       'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [6]:
city_df = cities_df[['id', 'city', 'county_fips']]
county_df = cities_df[['county_fips', 'state_id', 'county_name', 'state_name']]

In [11]:
unique_counties_df = county_df.drop_duplicates(subset=['county_fips', 'state_id'])

In [14]:
city_df.columns = ['city_id', 'city_name', 'fips_code']
unique_counties_df.columns = ['fips_code', 'state_id', 'county_name', 'state_name']

In [8]:
city_df.to_csv('../Cleaned Data/cleaned_us_cities.csv')

In [16]:
unique_counties_df.to_csv('../Cleaned Data/cleaned_us_counties.csv')